.todo-container{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: black;
  color: white;
}
.container-form{
  width: 80%;
  margin: auto;
  background-color: rgba(37, 34, 34, 0.856);
}
.addtextDec{
  text-decoration: line-through;
}


.addTodo{
  width: 140px;
  margin-top: 2rem;
  margin-right: 15px;
  height: 40px;
  padding-top: 2px;
}

.todo-list-container{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(37, 34, 34, 0.856); 
}

.margin-right-10{
  margin-right: 10px;
}
.todo-row{
  height: 100px;
  border-bottom: 1px solid;
}
.content{
  margin-left: 10px;
}